In [1]:
import pandas as pd

# read data file
df = pd.read_csv("Dataset/songs_data.csv")

In [2]:
df.head()

,artist,song,duration_ms,explicit,year,popularity,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,genre
0,Britney Spears,Oops!...I Did It Again,211160,False,2000,77,0.751,0.834,1,-5.444,0,0.0437,0.3000,0.000018,0.3550,0.894,95.053,pop
1,blink-182,All The Small Things,167066,False,1999,79,0.434,0.897,0,-4.918,1,0.0488,0.0103,0.000000,0.6120,0.684,148.726,"rock, pop"
2,Faith Hill,Breathe,250546,False,1999,66,0.529,0.496,7,-9.007,1,0.0290,0.1730,0.000000,0.2510,0.278,136.859,"pop, country"
3,Bon Jovi,It's My Life,224493,False,2000,78,0.551,0.913,0,-4.063,0,0.0466,0.0263,0.000013,0.3470,0.544,119.992,"rock, metal"
4,*NSYNC,Bye Bye Bye,200560,False,2000,65,0.614,0.928,8,-4.806,0,0.0516,0.0408,0.001040,0.0845,0.879,172.656,pop

In [3]:
df.shape

(2000, 18)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   artist            2000 non-null   object
 1   song              2000 non-null   object
 2   duration_ms       2000 non-null   int64
 3   explicit          2000 non-null   bool
 4   year              2000 non-null   int64
 5   popularity        2000 non-null   int64
 6   danceability      2000 non-null   float64
 7   energy            2000 non-null   float64
 8   key               2000 non-null   int64
 9   loudness          2000 non-null   float64
 10  mode              2000 non-null   int64
 11  speechiness       2000 non-null   float64
 12  acousticness      2000 non-null   float64
 13  instrumentalness  2000 non-null   float64
 14  liveness          2000 non-null   float64
 15  valence           2000 non-null   float64
 16  tempo             2000 non-null   float64
 17  genre             2000 non-null   object
dtypes: bool(1), float64(9), int64(5), object(3)
memory usage: 267.7+ KB

In [5]:
df.columns

Index(['artist', 'song', 'duration_ms', 'explicit', 'year', 'popularity',
       'danceability', 'energy', 'key', 'loudness', 'mode', 'speechiness',
       'acousticness', 'instrumentalness', 'liveness', 'valence', 'tempo',
       'genre'],
      dtype='object')

In [6]:
df.isnull().sum()

artist              0
song                0
duration_ms         0
explicit            0
year                0
popularity          0
danceability        0
energy              0
key                 0
loudness            0
mode                0
speechiness         0
acousticness        0
instrumentalness    0
liveness            0
valence             0
tempo               0
genre               0
dtype: int64

In [7]:
#drop null
df = df.dropna(subset=["year", "danceability", "energy"])

In [8]:
#checking for duplicate values
df.duplicated().value_counts()

False    1941
True       59
Name: count, dtype: int64

In [9]:
df = df.drop_duplicates(subset=["song", "artist", "year"])

In [10]:
df = df[(df["year"] >= 1960) & (df["year"] <= 2024)]

In [11]:
df["decade"] = (df["year"] // 10) * 10
df["duration_min"] = df["duration_ms"] / 60000

df["artist"] = df["artist"].str.strip().str.lower()
# Add energy_level column
df["energy_level"] = pd.cut(df["energy"], bins=[0, 0.4, 0.7, 1.0],labels=["Low", "Medium", "High"])
# Normalize genre
df["genre"] = df["genre"].str.lower().str.replace("-", " ").str.strip()

df["genre_main"] = df["genre"].apply(lambda x: x.split(",")[0].strip())
df['genre_main'] = df['genre_main'].replace('set()', 'unknown')

In [12]:
df.shape

(1930, 22)

In [13]:
# Description of the Data
df.describe()

,duration_ms,year,popularity,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,decade,duration_min
count,1930.000000,1930.000000,1930.000000,1930.000000,1930.000000,1930.000000,1930.000000,1930.000000,1930.000000,1930.000000,1930.000000,1930.000000,1930.000000,1930.000000,1930.000000,1930.000000
mean,228601.874611,2009.506736,59.680311,0.667721,0.721958,5.369430,-5.510049,0.553368,0.103774,0.128384,0.015458,0.181793,0.552936,120.226665,2004.927461,3.810031
std,39268.738134,5.879488,21.418753,0.140633,0.153004,3.619084,1.941319,0.497273,0.096156,0.172785,0.088616,0.141095,0.221170,26.996093,5.418698,0.654479
min,113000.000000,1998.000000,0.000000,0.129000,0.054900,0.000000,-20.514000,0.000000,0.023200,0.000019,0.000000,0.021500,0.038100,60.019000,1990.000000,1.883333
25%,203496.250000,2004.000000,56.000000,0.581000,0.625000,2.000000,-6.485750,0.000000,0.039700,0.013625,0.000000,0.088250,0.388250,98.989750,2000.000000,3.391604
50%,223219.500000,2010.000000,65.000000,0.676000,0.739000,6.000000,-5.281500,1.000000,0.061000,0.055800,0.000000,0.124000,0.560000,120.038500,2010.000000,3.720325
75%,247942.750000,2015.000000,73.000000,0.765000,0.841000,8.000000,-4.167250,1.000000,0.128750,0.176000,0.000068,0.241750,0.731000,134.398500,2010.000000,4.132379
max,484146.000000,2020.000000,89.000000,0.975000,0.999000,11.000000,-0.276000,1.000000,0.576000,0.976000,0.985000,0.853000,0.973000,210.851000,2020.000000,8.069100

In [14]:
songs_per_years = df['year'].value_counts().sort_index()
songs_per_years

year
1998      1
1999     38
2000     71
2001    106
2002     85
2003     91
2004     94
2005    101
2006     93
2007     90
2008     91
2009     82
2010    102
2011     96
2012    112
2013     86
2014     98
2015     91
2016     96
2017    110
2018    104
2019     89
2020      3
Name: count, dtype: int64

In [15]:
artists = df['artist'].value_counts()
artists.head(10)

artist
rihanna           23
drake             21
eminem            20
calvin harris     20
britney spears    19
david guetta      18
chris brown       16
kanye west        16
katy perry        16
beyoncé           16
Name: count, dtype: int64

In [16]:
#top artist
artist_df = df[['artist', 'popularity']].groupby('artist').mean().sort_values(by='artist')
artists = df['artist'].value_counts().sort_index()
artist_df['total songs'] = artists.values

artist_df.sort_values(by='total songs',ascending=False, inplace=True)

artist_df.reset_index(inplace=True)
top10 = artist_df[:10]
top10

           artist  popularity  total songs
0         rihanna   72.260870           23
1           drake   64.380952           21
2          eminem   72.600000           20
3   calvin harris   67.800000           20
4  britney spears   63.052632           19
5    david guetta   65.833333           18
6     chris brown   63.250000           16
7         beyoncé   64.375000           16
8      katy perry   64.562500           16
9      kanye west   61.437500           16

In [17]:
df["genre_main"].value_counts()

genre_main
pop                  905
hip hop              745
rock                 155
dance/electronic      41
unknown               22
latin                 15
r&b                   13
world/traditional     10
country               10
metal                  9
folk/acoustic          4
easy listening         1
Name: count, dtype: int64

In [18]:
top_genres = df["genre_main"].value_counts().head(5).index
print(top_genres)

df_top = df[df["genre_main"].isin(top_genres)]
genre_group = df_top.groupby(['decade', 'genre_main']).size().reset_index(name='count')
genre_group

Index(['pop', 'hip hop', 'rock', 'dance/electronic', 'unknown'], dtype='object', name='genre_main')

    decade        genre_main  count
0     1990  dance/electronic      1
1     1990           hip hop      8
2     1990               pop     23
3     1990              rock      6
4     1990           unknown      1
5     2000  dance/electronic     17
6     2000           hip hop    348
7     2000               pop    393
8     2000              rock    102
9     2000           unknown     11
10    2010  dance/electronic     23
11    2010           hip hop    388
12    2010               pop    488
13    2010              rock     47
14    2010           unknown     10
15    2020           hip hop      1
16    2020               pop      1

In [19]:
genre_pivot = genre_group.pivot(index='genre_main', columns='decade', values='count')
genre_pivot = genre_pivot.fillna(0)
genre_pivot

decade            1990   2000   2010  2020
genre_main
dance/electronic   1.0   17.0   23.0   0.0
hip hop            8.0  348.0  388.0   1.0
pop               23.0  393.0  488.0   1.0
rock               6.0  102.0   47.0   0.0
unknown            1.0   11.0   10.0   0.0

In [47]:
df.groupby(["genre_main", "energy_level"]).size().reset_index(name="count")

C:\Users\Hue\AppData\Local\Temp\ipykernel_16684\1307423902.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(["genre_main", "energy_level"]).size().reset_index(name="count")

           genre_main energy_level  count
0             country          Low      0
1             country       Medium      3
2             country         High      7
3    dance/electronic          Low      0
4    dance/electronic       Medium     11
5    dance/electronic         High     30
6      easy listening          Low      0
7      easy listening       Medium      0
8      easy listening         High      1
9       folk/acoustic          Low      0
10      folk/acoustic       Medium      2
11      folk/acoustic         High      2
12            hip hop          Low     25
13            hip hop       Medium    324
14            hip hop         High    396
15              latin          Low      0
16              latin       Medium      4
17              latin         High     11
18              metal          Low      1
19              metal       Medium      1
20              metal         High      7
21                pop          Low     31
22                pop       Medium    322
23                pop         High    552
24                r&b          Low      0
25                r&b       Medium      5
26                r&b         High      8
27               rock          Low      1
28               rock       Medium     37
29               rock         High    117
30            unknown          Low      0
31            unknown       Medium      8
32            unknown         High     14
33  world/traditional          Low      1
34  world/traditional       Medium      3
35  world/traditional         High      6